.nav-bar{
    width: 100%;
    height: 60px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.nav-bar .container{
    width: 50%;
    margin: 0 auto;
    line-height: 60px;
}
.nav-bar .container .left{
    float: left;
    width: 20%;
    height: 50px;

}
.nav-bar .container .right{
    float: right;
    width: 80%;
    height: 50px;
    padding-left: 30px;

}
.nav-bar .right li{
    list-style-type: none;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
    cursor: pointer;
    height:60px;
}
.nav-bar .right li:hover{
    border-bottom: 3px solid red;
    color:red;
}
.nav-bar .right .active{
    border-bottom: 3px solid red;

    color:red;
}